# Servidor
PORT=3000
DATABASE_URL=


# usuário : jaymerego2026
# senha: YLAKegP1nfvp1gaf

# mongodb+srv://jaymerego2026:YLAKegP1nfvp1gaf@devbills.ae4cupe.mongodb.net/DevBills?retryWrites=true&w=majority&appName=devbills